{% extends 'base.html.twig' %}

{% block title %}Gif index{% endblock %}

{% block body %}
    <h1>Gif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Link</th>
                <th>Tag</th>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gif in gifs %}
            <tr>
                <td>{{ gif.link }}</td>
                <td>{{ gif.tag }}</td>
                <td>{{ gif.id }}</td>
                <td>{{ gif.createdAt ? gif.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gif.updatedAt ? gif.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gif.deletedAt ? gif.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('gif_show', {'id': gif.id}) }}">show</a>
                    <a href="{{ path('gif_edit', {'id': gif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gif_new') }}">Create new</a>
{% endblock %}
